


.form-label {

    -fx-font-size: 1.3em;

}

.form-title-label {

    -fx-font-size: 2.2em;
    -fx-font-weight: bold;

}


.form-button {
    -fx-min-width: 110px;
    -fx-pref-width: 130px;
    -fx-background-color: #0400e9;
    -fx-background-radius: 60px;
    -fx-text-fill: WHITE;
    -fx-font-size: 1.1em;

    -jfx-button-type: RAISED;
}

.form-button:focused {
    -fx-background-color: #0400e9;

}

.form-button:hover {

    -fx-cursor: hand;
    -fx-fill: black;
    -fx-background-color: #0400e9;
}
.form-button .jfx-rippler{

    -jfx-rippler-fill: rgb(174, 180, 255);
}



/*!*Tabview styling*!*/

.jfx-tab-pane .headers-region {
    -fx-background-color: #0400e9;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #0400e9;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke-width: 5px;
    -fx-background-color: #ffffff;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: #929292;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #ffffff;
}


.tab {

    -fx-pref-width: 150
}