





.form-button {
/*    !*-fx-min-width: 110px;*!*/
/*    -fx-pref-width: 130px;*/
    -fx-background-color: #0400e9;
/*    -fx-background-radius: 60px;*/
    -fx-text-fill: WHITE;

    -jfx-button-type: RAISED;
}

.jfx-button:focused {
    -fx-background-color: #0400e9;
}

.jfx-button:hover {
    -fx-background-color: #0400e9;
}
.jfx-button .jfx-rippler{

    -jfx-rippler-fill: rgba(27, 18, 255, 0.11);
}



/*!*Tabview styling*!*/

.jfx-tab-pane .headers-region {
    -fx-background-color: #0400e9;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #0400e9;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke-width: 5px;
    -fx-background-color: #ffffff;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: #929292;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #ffffff;
}


.tab {

    -fx-pref-width: 150
}